<p>List Student</p>
<p>{{students | json}}</p>
<a routerLink="/student/form" class="btn btn-success">Create</a>
<table class="table">

  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Tên</th>
      <th scope="col">Lớp</th>
      <th scope="col" colspan="3">Thao Tác</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let std of students">
      <td>{{ std.id }}</td>
      <td>{{ std.name }}</td>
      <td>{{ std.class }}</td>
      <td>
        <a routerLink="/student/form/{{std.id}}" class="btn btn-success">Edit</a>
        <a routerLink="/student/{{std.id}}" class="btn btn-danger">Details</a>
        <button (click)="onDelete(std.id)" class="btn btn-info">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
